article {
  header {
    text-align: center;
    h1 {
      margin-bottom: 0;
    }
    p {
      font-family: open_sansregular;
    }
  }
  blockquote {
    font-size: $font-size-base;
  }
  img {
    max-width: 100%;
    width: 100%;
  }
}
